# Environment variables
.env

# Reserved directories
data/
scratch/

# Python artefacts
.ipynb_checkpoints/
.venv/
__pycache__/
build/
dist/
wheels/
.coverage
*.egg-info
*.py[oc]

# IDE artefacts
.cursor/
.idea/
.vscode/

# Coding agents artefacts
.claude/
.opencode/
.rtk/

# System artefacts
.DS_Store
